@import '../../styles/Variables.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px 0;
    &__item {
        border: 1px solid $border-colored;
        padding: 20px;
    }
}